{% extends "admin/base_site.html" %}

{% load i18n static %}

{% block extrahead %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "js/bulk_upload.js" %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
{% endblock %}

{% block content %}
    <div id="content-main">
        <!-- factor out later
        {% block pretitle %}{% endblock %}
        {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
        -->

        <!-- Template Link -->
        <h3>
            <a href="https://docs.google.com/spreadsheets/d/1TNqpbrXUx0hFEGDAHHDrcuf4qQaj7ejDENhO0qpGkU8/edit#gid=0">
                Upload Template - export as csv
            </a>
        </h3>
        <br/>

        <!-- Upload box -->
        <input type="file" id="file-input" accept=".csv"/>

        <!-- Upload file and preview -->
        <input type="button" id="preview" value="Preview">

        <!-- Confirm additions -->
        <input type="button" id="confirm" value="Confirm Judge Additions">

        <span id="message"></span>
        <br class="clear">

        {% block footer %}<div id="footer"></div>{% endblock %}
    </div>
{% endblock %}
