{% extends "admin/base_site.html" %}

{% load i18n static %}

{% block content %}
    <div id="content-main">
            <!-- factor out later
            {% block pretitle %}{% endblock %}
            {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
            -->

            <!-- Template Link -->
            <h2>
                <a href="https://docs.google.com/spreadsheets/d/1TNqpbrXUx0hFEGDAHHDrcuf4qQaj7ejDENhO0qpGkU8/edit#gid=0">
                    Upload Template - export as csv
                </a>
            </h2>
            <br/>

            <!-- Upload box -->
            <input type="file" id="csv" accept=".csv" />

            <br class="clear">

        {% block footer %}<div id="footer"></div>{% endblock %}
    </div>
{% endblock %}
